<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>interests</title>
    <link rel="stylesheet" href="/styles/interestsBootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    <script></script>
    <link rel="stylesheet" href="/styles/interests.css">
    <script defer
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/interests.js"></script>
  </head>
  <body>
    <nav >
    <ul class="nav nav-pills nav-fill" >
      <li class="nav-item">
        <a class=" nav-active nav-link  nav-custom  rounded-0" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a href="/post" class="nav-link nav-custom rounded-0" > See your all posts that u like </a>

      </li>
      <li class="nav-item">
        <a class="nav-link nav-custom rounded-0" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled nav-custom rounded-0" href="#">Disabled</a>
      </li>
    </ul>
    </nav>
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4 control ">
        <div class="card mb-5 mb-lg-0 ">
          <h6 class="card-price text-center mt-5">All interests</h6>
          <form action="/interests/add " method="POST">
            <% if(err){ %>
              <p class='ml-5 mt-2' style="color: red ;">It already excists</p>
            <% } %>
            <input type="text" autocomplete="off" placeholder="Add your own" name="interest" id='search' class='input-find ml-5' />
            <input type="submit" class=' btn-special btn pb-1 btn-primary ml-2   '  />
          </form>
          <div class="card-body card-special">
           
            <hr>
            <div id="allintersts" >
              <% if (allInterests) { %> <% allInterests.forEach(interest => { %>
              <input class='table' readonly id='<%= interest._id %>' value ='<%= interest.interest %>'></input >
              <% }); %> <% } %>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Pro Tier -->
      <div class="col-lg-4 control pixels">
        <div class="card mb-5 mb-lg-0 ">
          <h6 class="card-price text-center mt-5">Your interests</h6>
          <div class="card-body card-special user">
            <hr>

            <div id="userinterets">     
              <% if (userinterests) { %> <% userinterests.forEach(interest => { %>
              <input class='usertable  ' value="<%= interest %>"></input >
              <% }); %> <% } %>
            </div>
          </div>
          <button id='save' class='btn btn-success btn-user mb-2 mt-2' >Save</button>

        </div>
      </div>
    </div>
  </div>
</section>


    
  </body>
</html>
